<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myapplication">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/biznest_foreground"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/biznest_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">

        <!-- Launcher Activity -->
        <activity
            android:name=".UserTypeSelectionActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Existing Activities -->
        <activity android:name=".MainActivity" android:exported="true" />
        <activity android:name=".AccessoriesActivity" />
        <activity android:name=".EatablesActivity" />
        <activity android:name=".ArtCraftActivity" />
        <activity android:name=".ClothingActivity" />
        <activity android:name=".SkincareActivity" />
        <activity android:name=".BooksActivity" />
        <activity android:name=".DashboardActivity" />
        <activity android:name=".AccessoriesHairbandActivity" />
        <activity android:name=".AccessoriesTotebagActivity" />
        <activity android:name=".AccessoriesKeychainActivity" />
        <activity android:name=".AccessoriesBraceletActivity" />
        <activity android:name=".EatablesMakhanaActivity" />
        <activity android:name=".EatablesGranolaBarsActivity" />
        <activity android:name=".EatablesPicklesActivity" />
        <activity android:name=".EatablesBakedCookiesActivity" />
        <activity android:name=".HandmadeDiariesActivity" />
        <activity android:name=".HandPaintedCoversActivity" />
        <activity android:name=".RecycledNotepadsActivity" />
        <activity android:name=".DecoratedBookmarksActivity" />
        <activity android:name=".SkincareFacePackActivity" />
        <activity android:name=".SkincareLipBalmActivity" />
        <activity android:name=".SkincareBodyScrubsActivity" />
        <activity android:name=".SkincareNaturalSoapsActivity" />
        <activity android:name=".DIYWallHangingActivity" />
        <activity android:name=".QuiltingArtFramesActivity" />
        <activity android:name=".OrigamiDecorPiecesActivity" />
        <activity android:name=".PaintedGlassJarsActivity" />
        <activity android:name=".HandPaintedTShirtsActivity" />
        <activity android:name=".TieDyeScarvesActivity" />
        <activity android:name=".EmbroideredKurtisActivity" />
        <activity android:name=".RecycledDenimBagsActivity" />

        <!-- Retailer Section -->
        <activity android:name=".RetailerLoginActivity" android:exported="true" />
        <activity android:name=".RetailerDashboardActivity" android:exported="true" />
        <activity android:name=".ProductActivity" android:exported="true" />
        <activity android:name=".GrowthActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".LearningResourcesActivity" />

    </application>

</manifest>
